In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import plotly as px
import seaborn as sns

### read .csv and visualize

In [24]:
df = pd.read_csv("/home/jony/Proyects/mall/Mall_Customers.csv", index_col="CustomerID")
df.head()

             Genre  Age  Annual Income (k$)  Spending Score (1-100)
CustomerID
1             Male   19                  15                      39
2             Male   21                  15                      81
3           Female   20                  16                       6
4           Female   23                  16                      77
5           Female   31                  17                      40